body {
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 2%;
}

#app {
  width: 50em;
  margin: 2%;
}

div {
  position: relative;
}

p {
  font-size: 2em;
}

#quote-box {
  background-color: white;
  padding: 5%;
  position: relative;
  border-radius: 3px;
}

#new-quote {
  float: right;
}

#tweet-quote {
  float:left;
  font-size: 2em;
}

#buttons {
  padding: 5%;
}

#author {
  text-align: right;
}